<article class="portfolio" data-page="portfolio">
    <header>
      <h2 class="h2 article-title">{{ portfolio.title }}</h2>
    </header>
  
    <section class="projects">
      <ul class="filter-list">
        {% for category in portfolio.categories %}
        <li class="filter-item">
          <button class="{% if category.isActive %}active{% endif %}" data-filter-btn>
            {{ category.name }}
          </button>
        </li>
        {% endfor %}
      </ul>
  
      <div class="filter-select-box">
        <button class="filter-select" data-select>
          <div class="select-value" data-selecct-value>Select category</div>
          <div class="select-icon">
            <ion-icon name="chevron-down"></ion-icon>
          </div>
        </button>
  
        <ul class="select-list">
          {% for category in portfolio.categories %}
          <li class="select-item">
            <button data-select-item>{{ category.name }}</button>
          </li>
          {% endfor %}
        </ul>
      </div>
  
      <ul class="project-list">
        {% for project in portfolio.projects %}
        <li class="project-item {% if project.isActive %}active{% endif %}" 
            data-filter-item 
            data-category="{{ project.category }}">
          <a href="#">
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <img src="{{ project.image.src }}" 
                   alt="{{ project.image.alt }}" 
                   loading="lazy">
            </figure>
            <h3 class="project-title">{{ project.title }}</h3>
            <p class="project-category">{{ project.category }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </article>