<article class="resume" data-page="resume">
    <header>
      <h2 class="h2 article-title">{{ resume.title }}</h2>
    </header>
  
    <!-- Education Section -->
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="{{ resume.education.icon }}"></ion-icon>
        </div>
        <h3 class="h3">{{ resume.education.title }}</h3>
      </div>
  
      <ol class="timeline-list">
        {% for item in resume.education.timeline %}
        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">{{ item.title }}</h4>
          <span>{{ item.period }}</span>
          <p class="timeline-text">{{ item.description }}</p>
        </li>
        {% endfor %}
      </ol>
    </section>
  
    <!-- Experience Section -->
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="{{ resume.experience.icon }}"></ion-icon>
        </div>
        <h3 class="h3">{{ resume.experience.title }}</h3>
      </div>
  
      <ol class="timeline-list">
        {% for item in resume.experience.timeline %}
        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">{{ item.title }}</h4>
          <span>{{ item.period }}</span>
          <p class="timeline-text">{{ item.description }}</p>
        </li>
        {% endfor %}
      </ol>
    </section>
  
    <!-- Skills Section -->
    <section class="skill">
      <h3 class="h3 skills-title">{{ resume.skills.title }}</h3>
      <ul class="skills-list content-card">
        {% for skill in resume.skills.list %}
        <li class="skills-item">
          <div class="title-wrapper">
            <h5 class="h5">{{ skill.name }}</h5>
            <data value="{{ skill.percentage }}">{{ skill.percentage }}%</data>
          </div>
          <div class="skill-progress-bg">
            <div class="skill-progress-fill" style="width: {{ skill.percentage }}%;"></div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
</article>